
<div id="about" class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">

      <h2>É fácil começar a reabilitar o centro histórico</h2>

      <p>Com este site, queremos promover a reabilitação do Centro Histórico de Coimbra.</p>

      <p>Apresentamos informações sobre cada edifício relativamente ao seu estado de propriedade, disponibilidade, estado de conservação, funções que alberga, projectos de reabilitação já concretizados e os pontos de interesse que se encontram na sua envolvente.</p>

      <p>Procuramos compilar e apresentar dados e informações a possíveis investidores com o objectivo de aumentar o número de habitantes no Centro Histórico.</p>

      <p class="actions">
        <a href="javascript:history.back()" class="btn">« Voltar</a>
      </p>

    </div>
  </div>
</div>
