<div id="about">

  <h2>Mais recursos</h2>

  <p><a href="http://issuu.com/unescouc/docs/l7_uncoimbra_protectionzone">Análise do centro histórico feito pela Candidatura à UNESCO</a> (p. 37 a 57)</p>
  <p><a href="http://www.cm-coimbra.pt/index.php?option=com_docman&task=cat_view&gid=196&dir=DESC&order=date&Itemid=320&limit=40&limitstart=0">Obras de reabilitação concluídas</a></p>
  <p><a href="http://gch.cm-coimbra.pt">Blog do Gabinete do Centro Histórico</a></p>
  <p><a href="http://www.uc.pt/ruas/noticias_ruas/imagens/regulamento.pdf">Regulamento Municipal de Edificação, Recuperação e Reconversão Urbanística da Área afeta à candidatura da Universidade de Coimbra a Património Mundial da UNESCO, incluíndo Zona de Protecção</a></p>

  <p>
    <a href="javascript:history.back()" class="btn">« Voltar</a>
  </p>

</div>
